:root {
  --main-font: 'Montserrat', sans-serif;
  --second-font: 'Playfair Display', serif;
  --main-color: #758a94;
  --second-color: #566c76;
  --third-color: #728a8a;
}

body {
  background-color: var(--second-color);
  text-align: center;
  font-family: var(--main-font);
  margin: 0;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 7vw;
  font-family: var(--second-font);
  line-height: 1em;
  font-weight: 900;
  text-transform: uppercase;
  color: #f2efe8;
  text-spacing: 5px;
  margin: 0;
}

.text-outline {
  color: transparent;
  /* -webkit-text-fill-color: transparent; */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #f2efe8;
}

/* Introduction container */
.container-intro {
  height: 100vh;
  background-color: var(--main-color);
}

.logo {
  /* position: absolute; */
  position: relative;
  height: 500px;
  width: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--main-color);
}

#logo-letter, #rectangle1, #rectangle2 {
  opacity: 1;
  transform: translate(50%, -50%);
  filter: invert(1);
  position: absolute;
}

#logo-letter {
  top: 50%;
  right: 50%;
  animation: scale 0.7s forwards;
}

#rectangle1 {
  top: 48.1%;
  right: 47.4%;
  animation: scale .7s .1s;
}

#rectangle2 {
  top: 51.4%;
  right: 51.4%;
  animation: scale 1s .1s;
}

#logo-backShape, #logo-frontShape {
  width: 50%;
  height: 50%;
  position: absolute;
  transform: translate(50%, -50%);
}

#logo-backShape {
  background: #566c76;
  top: 50%;
  right: 50%;
  animation: moveUp 1.5s;
  z-index: -2;
}

#logo-frontShape {
  background: #758a94;
  top: 100%;
  right: 50%;
  animation: slideUp 1s 1.2s forwards;
}

/* welcome section */
.welcome-message h1 {
  font-size: 7rem;
  font-family: var(--second-font);
}

.welcome-message h3 {
  font-size: 1.5rem;
  letter-spacing: 5px;
  font-family: var(--second-font);
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  opacity: 0;
  animation: fadeUp 1s 3s forwards;
}

#w, #e, #l, #c, #o, #m, #e1 {
  position: absolute;
  opacity: 0;
}

#w {
  top: 5%;
  left: 5%;
  animation: wInPosition 1s 2s forwards;
  transform: rotate(-27deg);
}

#e {
  top: 10%;
  left: 83%;
  animation: eInPosition 1s 2.1s forwards;
  transform: rotate(13deg);
}

#l {
  top: 54%;
  left: 72%;
  animation: lInPosition 1s 2.2s forwards;
  transform: rotate(-50deg);
}

#c {
  top: 22%;
  left: 30%;
  animation: cInPosition 1s 2.3s forwards;
  transform: rotate(65deg);
}

#o {
  top: 50%;
  left: 15%;
  animation: oInPosition 1s 2.4s forwards;
  transform: rotate(140deg);
}

#m {
  top: 20%;
  left: 60%;
  animation: mInPosition 1s 2.5s forwards;
  transform: rotate(-100deg);
}

#e1 {
  top: 50%;
  left: 77.5%;
  animation: e1InPosition 1s 2.6s forwards;
  transform: rotate(-180deg);
}

#scroll-button {
  padding-top: 80px;
  text-decoration: none;
}

#scroll-button span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: fadeInOut 2s infinite;
  animation: fadeInOut 2s infinite;
  opacity: 0;
  box-sizing: border-box;
  cursor: pointer;
}

#scroll-button span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

#scroll-button span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}

#scroll-button span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}

.demo {
  position: absolute;
  top: 53%;
  right: 49%;
  transform: translate(50%, 50%);
  opacity: 0;
  animation: fade 1s 3s forwards;
}

/* End of intro */
/* start of main website  */
.container-main {
  /* height: 120vh; */
  background: var(--second-color);
  padding: 10rem 0 0 10rem;
  min-height: 100px;
  overflow: hidden;
}

.hidden {
  /* visibility: hidden; */
  display: none;
}

.fade-animation {
  animation: fade 10s;
}

/* navigation */
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  display: -ms-grid;
  display: grid;
  padding: 4vw;
  grid-auto-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.popUp-menu {
  position: fixed;
  left: -100%;
  top: 0;
  padding: 6% 0;
  padding-left: 13vw;
  width: 75%;
  transition: left 0.8s;
}

.change .popUp-menu {
  left: 0;
}

#nav {
  margin: 0;
  padding: 0;
}

#nav li {
  display: inline;
  padding: 0;
  margin: 0;
}

#nav a:link,
#nav a:visited {
  color: #f2efe8;
  opacity: 0.7;
  padding: 2% 5%;
}

.circle-menu {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  border-color: #f2efe8;
  opacity: 0.5;
  background-color: transparent;
  cursor: pointer;
}

.line {
  width: 50%;
  border-top: solid;
  border-color: #f2efe8;
  position: absolute;
  transform: translate(50%, -50%);
  transition: all 0.8s;
}

.line-1 {
  top: 35%;
  right: 50%;
}

.line-2 {
  top: 50%;
  right: 50%;
}

.line-3 {
  top: 65%;
  right: 50%;
}

.change .line-1 {
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%) rotate(405deg);
}

.change .line-2 {
  opacity: 0;
}

.change .line-3 {
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%) rotate(-405deg);
}

nav h4 {
  color: #f2efe8;
  opacity: 0.7;
  font-family: var(--second-font);
  letter-spacing: 3px;
  font-weight: bold;
  transform: rotate(180deg);
  font-size: 1.2rem;
}

.sidebar-name {
  writing-mode: vertical-lr;
  justify-self: center;
  align-self: center;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.sidebar-title {
  writing-mode: vertical-lr;
  justify-self: center;
  align-self: end;
  -ms-grid-column: 1;
  /* grid-column-start: 1; */
  -ms-grid-column-span: 1;
  /* grid-column-end: 2; */
  -ms-grid-row: 3;
  /* grid-row-start: 3; */
  -ms-grid-row-span: 1;
  /* grid-row-end: 4; */
  -ms-grid-column-align: center;
  /* justify-self: center; */
  -ms-grid-row-align: end;
  align-self: end;
}

.container-fluid {
  margin-left: 10%;
  position: relative;
}

.title {
  text-align: left;
}

.location {
  width: 50%;
  position: absolute;
  top: 22%;
  right: 15%;
  animation: fade 8s forwards;
}

#min {
  position: absolute;
  top: 47.4%;
  right: 49.7%;
  width: 6px;
}

.min-rotate {
  transform-origin: bottom center;
  animation: time 10s forwards 5;
}

@keyframes time {
  100% {
    transform: rotate(360deg);
  }
}

.location h3 {
  font-family: var(--second-font);
  color: #f2efe8;
  font-size: 1rem;
}

.personal-statement {
  margin-top: 10%;
  padding: 0 30%;
  /* width: 35%; */
  text-align: left;
  color: #f2efe8;
  opacity: 0.7;
}

/* education container */
.container-education {
  padding: 10rem;
  text-align: left;
}

.container-education h2 {
  /* border-bottom: solid; */
  line-height: 2;
  font-size: 3rem;
}

.education-display {
  width: 70%;
  color: #f2efe8;
  opacity: 0.7;
}

.uni-details {
  display: flex;
  justify-content: space-between;
  border-bottom: solid;
  opacity: 1;
  margin-bottom: 2rem;
}

.college-details, .school-details {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
  opacity: 0.7;
}

.education-display h4 {
  font-size: 0.9vw;
  letter-spacing: 1.5px;
}

.container-skills {
  padding: 5rem 5rem 5rem 15rem;
  text-align: center;
}

.container-skills h2 {
  line-height: 2;
  font-size: 3rem;
}

.skills-display {
  text-align: center;
  width: 80%;
  color: #f2efe8;
  opacity: 0.7;
}

.skills-lvl-display {
  display: flex;
  justify-content: space-between;
}

.skill-level {
  width: 70px;
  height: 300px;
  border: solid;
  background-color: transparent;
}

.skill-level h5 {
  margin: 2px 0;
  font-size: 1rem;
}

#results {
  margin-top: 5%;
}

#java-lvl {
  height: 71%;
  margin-top: 64px;
  background-color: #A3BAC5;
}

#python-lvl {
  height: 68%;
  margin-top: 73px;
  background-color: #A3BAC5;
}

#sql-lvl, #swift-lvl {
  height: 80%;
  margin-top: 38px;
  background-color: #A3BAC5;
}

#c-lvl {
  height: 57%;
  margin-top: 106px;
  background-color: #A3BAC5;
}

#web-lvl {
  height: 71%;
  margin-top: 45px;
  background-color: #A3BAC5;
}

.container-work {
  position: relative;
  /* height: 90vh; */
  background: var(--second-color);
  padding: 5rem 5rem 0 5rem;
  text-align: left;
}

.container-work h2 {
  line-height: 2;
  font-size: 3rem;
}

.work-display {
  /* width: 60%; */
  color: #f2efe8;
  opacity: 0.7;
  margin: 0 0 0 20%;
}

.work-details2 {
  /* width: 60%; */
  color: #f2efe8;
  opacity: 0.7;
  margin: 10% 0 0 0;
  padding-right: 10%;
}

/* visited link */
.work-details2 a:visited, .work-details2 a:link {
  color: #f2efe8;
  opacity: 0.5;
  cursor: pointer;
}

.container-cta {
  /* height: 100vh; */
  background: var(--second-color);
  padding: 5rem;
  position: relative;
}

.container-cta h2 {
  /* border-bottom: solid; */
  line-height: 2;
  font-size: 3rem;
  color: #f2efe8;
}

.details-cta {
  /* position: absolute;
  top: 50%;
  right: 50%; */
  /* transform: translate(50%, -50%); */
  padding: 5rem 5rem 5rem 15rem;
  width: 60%;
}

.img-cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10%;
}

.social-media {
  margin: 5rem;
}

.social-media img {
  filter: invert(1);
  padding: 10px;
}

.social-media h6 {
  color: #f2efe8;
}

/* keyframes animations*/
@-webkit-keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* letters animation */
@keyframes wInPosition {
  100% {
    top: 20%;
    left: 20%;
    opacity: 1;
    transform: rotate(0deg);
  }
}

@keyframes eInPosition {
  100% {
    top: 20%;
    left: 30%;
    opacity: 1;
    transform: rotate(0deg);
  }
}

@keyframes lInPosition {
  100% {
    top: 20%;
    left: 39%;
    opacity: 1;
    transform: rotate(0deg);
  }
}

@keyframes cInPosition {
  100% {
    top: 20%;
    left: 48%;
    opacity: 1;
    transform: rotate(0deg);
  }
}

@keyframes oInPosition {
  100% {
    top: 20%;
    left: 58%;
    opacity: 1;
    transform: rotate(0deg);
  }
}

@keyframes mInPosition {
  100% {
    top: 20%;
    left: 67%;
    opacity: 1;
    transform: rotate(0deg);
  }
}

@keyframes e1InPosition {
  100% {
    top: 20%;
    left: 78%;
    opacity: 1;
    transform: rotate(0deg);
  }
}

@keyframes moveUp {
  0% {
    display: none;
    top: 100%;
  }

  100% {
    bottom: 0;
  }
}

@keyframes scale {
  0% {
    opacity: 0;
    width: 0px;
    height: auto;
  }

  50% {
    width: 150px;
    height: auto;
  }

  100% {
    opacity: 1;
    width: 100px;
    height: auto;
  }
}

@keyframes slideUp {
  100% {
    top: 250px;
  }
}

@keyframes fadeUp {
  0% {
    transform: translate(14rem, 0rem);
  }

  100% {
    opacity: 1;
    transform: translate(14rem, -4rem);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes backOutUp {
  0% {
    opacity: 1;
  }

  20% {
    -webkit-transform: translateY(0) scale(.7);
    transform: translateY(0) scale(.7);
    opacity: .7
      /* position: absolute; */
  }

  to {
    -webkit-transform: translateY(-700px) scale(.7);
    transform: translateY(-700px) scale(.7);
    opacity: 0;
    /* position: absolute; */
  }
}

.animate__backOutUp {
  -webkit-animation-name: backOutUp;
  animation: backOutUp 2s forwards;
}

@media (max-width: 992px) {
  h1 {
    font-size: 5rem;
    padding-left: 10%;
  }

  #min {
    right: 24.8%;
    top: 45%;
  }

  .location {
    position: static;
  }

  .personal-statement {
    right: 43%;
    transform: translateX(50%);
    width: 79%;
  }

  .container-education {
    padding: 10% 0% 0 10%;
  }

  .education-display {
    width: 90%;
  }

  .personal-statement {
    padding: 0 5% 0 10%;
  }

  .container-skills {
    padding: 5rem;
    margin-right: 5%;
  }

  .skills-display {
    width: 90%;
  }

  .container-main {
    padding: 10rem 0 0 5rem;
  }

  .popUp-menu {
    width: 100%;
  }

  .details-cta {
    width:100%
  }
}
